

<!-- ai file: certificate_improved.ai -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">


<div id="g-certificate_improved-box" class="ai2html">

	<!-- Artboard: Artboard_1 -->
	<div id="g-certificate_improved-Artboard_1" class="g-artboard" style="max-width: 842px;max-height: 595px" data-aspect-ratio="1.414" data-min-width="0">
<div style="padding: 0 0 70.6978% 0;"></div>
		<img id="g-certificate_improved-Artboard_1-img" class="g-aiImg" alt="" src="{{ url_for('static', filename='images/certificate_improved-Artboard_1.png') }}"/>
		<div id="g-ai0-1" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:41.0172%;margin-top:-9.2px;right:41.8341%;width:161px;">
			<p class="g-pstyle0"><b>This Certifies that</b></p>
		</div>
		<div id="g-ai0-2" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.8051%;margin-top:-21.6px;left:24.8514%;margin-left:-151.5px;width:303px;">
			<p style="padding: 0px; font-size: 22px; text-align: center;">
				<center>{{groom_name}}</center>
			</p>
			<input type="text" name="Groom name" required="true" style="background: transparent; outline: none; border: none; border-bottom: 1px dashed #83A4C5; width: 275px; overflow: hidden; resize:none; height:40px;" value={{groom_name}}/>
		</div>
		<div id="g-ai0-3" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:46.8051%;margin-top:-21.6px;left:73.5101%;margin-left:-111px;width:222px;">
			<p style="padding: 0px; font-size: 22px; text-align: center;">
				<center>{{bride_name}}</center>
			</p>
			<input type="text" name="Bride name" required="true" style="background: transparent; outline: none; border: none; border-bottom: 1px dashed #83A4C5;width: 275px; overflow: hidden; resize:none; height:40px;" value={{bride_name}}/>
		</div>
		<div id="g-ai0-4" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:47.2131%;margin-top:-17px;right:48.4829%;width:47px;">
			<p class="g-pstyle2">&</p>
		</div>
		<div id="g-ai0-5" class="g-Layer_1 g-aiAbs" style="top:55.1005%;left:49.9219%;margin-left:-30.9382%;width:61.8765%;">
			<p class="g-pstyle3"><b>Were United In The Hold Bond of Matrimony and registered at</b></p>
			<p class="g-pstyle3"><b>www.Solmate.com</b></p>
		</div>
		<div id="g-ai0-6" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:80%;margin-top:-20px;left:35.8262%;margin-left:-43.5px;width:87px;">
			<p>
				<center>{{date}}</center>
			</p>
			<input type="text" name="Groom name" required="true" style="background: transparent; outline: none; border: none; border-bottom: 1px dashed #83A4C5;width: 90px; overflow: hidden; resize:none; height:40px;" value="{{date}}"/>
			<p class="g-pstyle4">Date</p>
		</div>
		<div id="g-ai0-7" class="g-Layer_1 g-aiAbs g-aiPointText" style="top:80%;margin-top:-20px;left:66.7014%;margin-left:-55px;width:110px;">
			<p><center>{{stamp}}</center></p>
			<input type="text" name="Groom name" required="true" style="background: transparent; outline: none; border: none; border-bottom: 1px dashed #83A4C5;width: 90px; overflow: hidden; resize:none; height:40px;" />
			<p class="g-pstyle4">Stamp</p>
		</div>
	</div>

</div>
